@font-face {
    font-family: 'KnifePrincess';
    src: url('/fonts/Knife-Princess.ttf');
}

@font-face {
    font-family: 'Bigboy';
    src: url('/fonts/Bigboy.ttf');
}

@font-face {
    font-family: 'CoreSansG';
    src: url('fonts/CoreSansG-ExtraBold.ttf');
}